div.addEditCategories, div.addEditTransactions {
    width: inherit;
    max-width: 100%;
    display: grid;
    grid-template-columns: [label] max-content [input] 1fr [end];
    column-gap: 15px;
    row-gap: 20px;
}

div.addEditCategories {
    grid-template-rows: repeat(3, [requiredInput] max-content) [end];
}

div.addEditTransactions {
    grid-template-rows: repeat(5, [requiredInput] max-content) [end];
}

div.addEditCategories label, div.addEditCategories div.requiredInput input, div.addEditCategories #categoryBudgetEvery {
    grid-row-start: auto;
}

div.addEditCategories label, div.addEditTransactions label {
    grid-column-start: label;
    align-self: center;
}

div.addEditCategories div.requiredInput, div.addEditCategories>input[type=text], #categoryBudgetEvery, div.addEditTransactions div.requiredInput, div.addEditTransactions>input[type=text], #transactionRepeatEvery, #repeatUntil {
    grid-column-start: input;
    justify-self: left;
    width: 100%;
}

div.addEditCategories div.requiredInput input[type=text], div.addEditCategories>input[type=text], div.addEditTransactions div.requiredInput input[type=text], div.addEditTransactions>input[type=text] {
    width: calc(100% - 8px);
}

div.addEditTransactions input[type=date] {
    width: calc(100% - 6px);
}

#tooltip {
    position: relative;
}

.tooltipText {
    visibility: hidden;
    width: 200px;
    height: 75px;
    background-color: #B2B0AA;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -103px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
}

#tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}

#tooltip .tooltipText::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #B2B0AA transparent transparent transparent;
}

/* #categoryWarning {
    position: relative;
} */

.ui-dialog > .ui-widget-header {
    background: #b82525;
    color: white;
}

#dialog {
    visibility: hidden;
    color: black;
    text-align: left;
    position: absolute;
    font-size: small;
}

#deleteTransWarning {
    visibility: hidden;
    color: black;
    text-align: left;
    position: absolute;
    font-size: small;
}

#deleteCatWarning {
    visibility: hidden;
    color: black;
    text-align: left;
    position: absolute;
    font-size: small;
}

#categoryBudgetEvery, #transactionRepeatEvery {
    display: grid;
    grid-template-columns: [number] max-content [timePeriod] auto [end];
    column-gap: 4%;
    grid-template-rows: [fields] max-content [errorContainer] auto [end];
    width: 100%;
}

#categoryBudgetEvery_ErrorContainer, #transactionRepeatEvery_ErrorContainer {
    grid-column-end: end;
}

#categoryBudgetEvery_Number, #transactionRepeatEvery_Number {
    width: 30px;
}

#categoryBudgetEvery_TimePeriod, #transactionRepeatEvery_TimePeriod {
    width: -webkit-fill-available;
}

.existingCategory input[type=button], .existingTransaction input[type=button] {
    display: block;
    margin: 25px auto;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

.existingCategory input[type=button] {
    width: 185px;
}

.existingTransaction input[type=button] {
    width: 210px;
}

#editCategory, #editTransaction {
    background-color: #454545;
    color: white;
}

#addTransactionWithinCategory {
    background-color: #3d854d;
    color: white;
}

#deleteCategory, #deleteTransaction {
    background-color: #b82525;
    color: white;
}

@media only screen and (min-width: 650px) {
    #categoryBudgetEvery_Number, #transactionRepeatEvery_Number {
        width: 35px;
    }

    .existingCategory input[type=button], .existingTransaction input[type=button] {
        margin: 30px auto;
        padding: 13px 20px;
    }

    .existingCategory input[type=button] {
        width: 195px;
    }

    .existingTransaction input[type=button] {
        width: 220px;
    }
}

@media only screen and (min-height: 750px) {
    .existingCategory input[type=button], .existingTransaction input[type=button] {
        margin: 30px auto;
        padding: 13px 20px;
    }

    .existingCategory input[type=button] {
        width: 215px;
    }

    .existingTransaction input[type=button] {
        width: 240px;
    }
}