#categoryBudgetEvery {
    display: flex;
    justify-content: space-between;
}

#categoryBudgetEvery_Number {
    width: 30px;
    text-align: center;
}

#categoryBudgetEvery_TimePeriod {
    width: calc(100% - 48px);
}

#editCategory input[type=button], #editTransaction input[type=button] {
    display: block;
    margin: 25px auto;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
}

#addTransactionWithinCategory {
    background-color: #3d854d;
    color: white;
}

#deleteCategory, #deleteTransaction {
    background-color: #b82525;
    color: white;
}

/* Added these */
#transactionName_Select {
	height:40px;
    width: calc(100% - 100px);
	background-color:white;
}

#transactionEvery {
    display: flex;
    justify-content: space-between;
}

#transactionRepeat_Check {
	border: 1px solid #767676;
    border-radius: 5px;
	height: 30px;
	width: 30px;
	/*border-radius: 10px; Won't work idk why*/
}

#transactionEvery_Number {
	width: 30px;
    text-align: center;
}

#transactionEvery_TimePeriod {
	width: calc(100% - 48px);
}

#transactionDate {
	font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
	
	border: 1px solid #767676;
    border-radius: 5px;
    height: 30px;
}

@media only screen and (min-width: 768px) {
    #categoryBudgetEvery_Number {
        width: 35px;
    }

    #categoryBudgetEvery_TimePeriod {
        width: calc(100% - 55px);
    }

    #editCategory input[type=button], #editTransaction input[type=button] {
        margin: 30px auto;
        padding: 13px 20px;
    }
	
	#transactionName_Select {
		font-size:12pt;
		width: calc(100% - 140px);
}
	
	#transactionEvery_Number {
		width: 35px;
		text-align: center;
	}	

	#transactionEvery_TimePeriod {
		font-size:12pt;
		width: calc(100% - 45px);
	}
	
	#transactionDate {
		font-size:12pt;
	}
}