#burgerButton {
	color: white;
	background-color: inherit;
	border: none;
}

#burgerButton svg {
    height: 22pt;
    width: 22pt;
    color: white;
}


#goBackHome, #goChangeTimePeriod, #goTransactions, #goReminders, #goSettings {
	background-color: white;
	text-align: left;
	font-size: 16px;
	border-style:solid;
	border-width:1px;
	padding: 15px 32px;
	width: 70%;
}


#dailyButton, #weeklyButton, #biWeeklyButton, #monthlyButton, #yearlyButton {
	background-color: white;
	text-align: left;
	font-size: 16px;
	border:none;
	padding: 15px 32px;
	width: 70%;
}

#dailyContainer, #weeklyContainer, #biWeeklyContainer, #monthlyContainer, #yearlyContainer {
	background-color:white;
	border-style:solid;
	border-width:1px;
	display: grid;
	grid-template-columns: [first] 50px [line2] auto [end];	
	width:70%;
}

#svgContainer {
	grid-column-start: first;
	grid-column-end: line2;
	place-self:center;
}


#buttonContainer {
	grid-column-start: line2;
	grid-column-end: end;
}

#dailyContainer svg, #weeklyContainer svg, #biWeeklyContainer svg, #monthlyContainer svg, #yearlyContainer svg{
	height:22pt;
	width:22pt;
	background-color:white;
}

div.burgerMenu {
	/*background-color: blue;*/
	height: 100%;
	display: grid;
}

@media only screen and (min-width: 768px) {
    #goBackHome, #goChangeTimePeriod, #goTransactions, #goReminders, #goSettings, 
	#daily, #weekly, #biWeekly, #monthly, #yearly {
        font-size: 20pt;
    }
    
    #burgerButton {
        height: 26pt;
    }
        
    #burgerButton svg {
        height: 26pt;
        width: 26pt;
    }

    #categoryBudgetEvery_Number, #transactionRepeatEvery_Number {
        width: 35px;
    }

    #homeButton input[type=button], #timePeriodButton input[type=button],
	#transactionsButton input[type=button], #settingsButton input[type=button]	{
        margin: auto auto;
    }
}
