#burgerButton {
	color: white;
	background-color: inherit;
	border: none;
}

#burgerButton svg {
    height: 22pt;
    width: 22pt;
    color: white;
}


#goBackHome, #goChangeTimePeriod, #goTransactions, #goSettings {
	background-color: white;
	text-align: left;
	border:none;
	padding: 15px 32px;
	font-size: 16px;
	width: 70%;
}

#daily, #weekly, #biWeekly, #monthly, #yearly {
	background-color: white;
	text-align: left;
	border:none;
	padding: 15px 32px;
	font-size: 16px;
	width: 70%;
}

div.burgerMenu {
	background-color: blue;
	height: 100%;
	display: grid;
	row-gap:1.5px;
}

#timeContainer{
	display: grid;
	row-gap:1.5px;
}
