.burgerMenu {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}

.menuButton {
    background-color: white;
}

.burgerMenu hr {
    margin: 0px 6%;
    background-color: #acacac;
    border: none;
    height: 1px;
}

#burgerButton {
	color: white;
	background-color: inherit;
	border: none;
}

#burgerButton svg {
    height: 22pt;
    width: 22pt;
    color: white;
}

#goBackHome, #goChangeTimePeriod, #goTransactions, #goReminders, #goSettings {
	background-color: white;
	text-align: left;
	font-size: 16px;
	padding: 5% 10%;
	width: 100%;
	border: none;
}

#dailyButton, #weeklyButton, #biWeeklyButton, #monthlyButton, #yearlyButton {
	background-color: white;
	text-align: left;
	font-size: 16pt;
	border:none;
	padding: 10%;
	width: 100%;
}

#dailyContainer, #weeklyContainer, #biWeeklyContainer, #monthlyContainer, #yearlyContainer {
	background-color:white;
	border: none;
	/*border-style:solid;
	border-width:1px;*/
	display: grid;
	grid-template-columns: [first] 50px [line2] auto [end];	
	width: 90%;
    padding-left: 10%;
}

/* Change background-color when hovering over element*/
#goBackHome:hover, #goChangeTimePeriod:hover, #goTransactions:hover, #goReminders:hover, #goSettings:hover {
	background-color: #DCDCDC;
}

#dailyContainer:hover, #weeklyContainer:hover, #biWeeklyContainer:hover, #monthlyContainer:hover, #yearlyContainer:hover {
	background-color: #DCDCDC;
}


#dailyButton:hover, #weeklyButton:hover, #biWeeklyButton:hover, #monthlyButton:hover, #yearlyButton:hover {
	background-color: #DCDCDC;
}	


<<<<<<< HEAD
/* Change background-color when disabled */
#goBackHome:disabled, #goChangeTimePeriod:disabled, #goTransactions:disabled, #goReminders:disabled, #goSettings:disabled {
	background-color: #DCDCDC;
}

#dailyButton:disabled, #weeklyButton:disabled, #biWeeklyButton:disabled, #monthlyButton:disabled, #yearlyButton:disabled {
	background-color: #DCDCDC;
}

/*
=======
>>>>>>> 6eaf6c4b3d7e3f03d1967f5378a3b8a0c79659e4
.burgerMenu input[type=button][disabled] {
	background-color: #DCDCDC !important;
}	
<<<<<<< HEAD
*/

=======
>>>>>>> 6eaf6c4b3d7e3f03d1967f5378a3b8a0c79659e4

#svgContainer {
	grid-column-start: first;
	grid-column-end: line2;
	place-self:center;
}

#buttonContainer {
	grid-column-start: line2;
	grid-column-end: end;
}

#dailyContainer svg, #weeklyContainer svg, #biWeeklyContainer svg, #monthlyContainer svg, #yearlyContainer svg{
	height:22pt;
	width:22pt;
	background-color:white;
}

@media only screen and (min-width: 650px) {
    #goBackHome, #goChangeTimePeriod, #goTransactions, #goReminders, #goSettings, 
	#daily, #weekly, #biWeekly, #monthly, #yearly {
        font-size: 20pt;
    }
    
    #burgerButton {
        height: 26pt;
    }
        
    #burgerButton svg {
        height: 26pt;
        width: 26pt;
    }

    #categoryBudgetEvery_Number, #transactionRepeatEvery_Number {
        width: 35px;
    }

    #homeButton input[type=button], #timePeriodButton input[type=button],
	#transactionsButton input[type=button], #settingsButton input[type=button]	{
        margin: auto auto;
    }
}
