html, body, #wrapper, #container, #content {
    height: 100%;
}

body {
    margin: 0px;
}

.hide {
    display: none;
}

#wrapper {
    min-width: 275px;
}

.phoneBorder {
    display: none;
}

#content {
    display: grid;
    grid-template-rows: [topBar] 10% [pageContent] auto [end];
	/*added*/
	position: relative;
}

#topBar {
    grid-row-start: topBar;
    background-color: #0F79D0;
    padding: 10px;
    display: grid;
    grid-template-columns: [left-button] 10% [spacer1] 1fr [left-arrow] max-content [title] max-content [right-arrow] max-content [spacer2] 1fr [right-button] 10% [end];
    column-gap: 2%;
    align-items: center;
    justify-items: center;
}

#topBar h1 {
    color: white;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    grid-column-start: title;
}

h2 {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: fit-content;
    margin: 0px;
}

#saveButton {
    grid-column-start: right-button;
}

#pageContent {
    overflow: auto;
    padding: 4.5%;
    grid-row-start: pageContent;
}

#addTransaction{
   grid-column-start: right-button;
}

.burgerMenu {
	grid-row-start: pageContent;
	width: 50%;
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
}
	
label, input[type=text], input[type=date], select, option, input[type=button], p {
    font-size: 16pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

select {
    font-size: 14pt;
}

option {
    font-size: 12pt;
}

input[type=text], input[type=date], input[type=color], select {
    border: 1px solid #767676;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

input[type=text] {
    padding-left: 4px;
}

input[type=date] {
    height: 32px;
    padding-left: 4px;
}

input[type=color], select {
    height: 34px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
    margin: 0px;
}

/* Desktop Formatting */
@media only screen and (min-width: 650px) {
    html, body, #wrapper, #container, #content {
        height: auto;
    }

    #wrapper {
        padding: 0px;
        background: black;
        aspect-ratio: 9/16;
        margin: auto;
        margin-top: 2vh;
        max-height: 96vh;
        min-height: 600px;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        resize: horizontal;
        border-radius: 35px;
    }

    #container {
        margin: 15px;
        border-radius: 25px;
        padding: 0px;
        background-color: #F3F3F3;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
    }

    #content {
        height: 84%;
    }

    #topBar h1 {
        font-size: 22pt;
    }

    h2 {
        font-size: 20pt;
    }

    label, input[type=text], select, option, input[type=button], p {
        font-size: 18pt;
    }
    
    select {
        font-size: 16pt;
    }
    
    option {
        font-size: 14pt;
    }

    input[type=checkbox] {
        width: 30px;
        height: 30px;
    }
    
    input[type=text] {
        height: 35px;
    }

    input[type=date] {
        height: 37px;
    }
    
    input[type=color], select {
        height: 39px;
    }

    .phoneBorder {
        display: block;
        background-color: #121212;
        width: 100%;
    }

    #phoneBorderTop {
        height: 7%;
        border-radius: 20px 20px 0px 0px;
    }

    #phoneBorderBottom {
        height: 9%;
        border-radius: 0px 0px 20px 20px;
    }
}