div.home {
    height: 100%;
    display: grid;
    grid-template-columns: [graph] 48.5% [legend] 48.5% [end];
    grid-template-rows: [income-label] max-content [income-data] calc((88% - 60pt)/2) [expense-label] max-content [expense-data] calc((88% - 60pt)/2) [balance-label] max-content [end];
    column-gap: 3%;
    row-gap: 3%;
}

#incomeLabel {
    grid-column-start: graph;
}

#incomeAmount {
    grid-column-start: legend;
    justify-self: end;
}

#incomeGraph {
    grid-row-start: income-data;
}

#incomeLegend {
    grid-row-start: income-data;
    grid-column-start: legend;
}

#expenseLabel {
    grid-column-start: graph;
    grid-row-start: expense-label;
}

#expenseAmount {
    grid-column-start: legend;
    grid-row-start: expense-label;
    justify-self: end;
}

#expenseGraph {
    grid-row-start: expense-data;
}

#expenseLegend {
    grid-row-start: expense-data;
    grid-column-start: legend;
}

#balanceLabel {
    grid-column-start: graph;
    grid-row-start: balance-label;
}

#balanceAmount {
    grid-column-start: legend;
    grid-row-start: balance-label;
    justify-self: end;
}

.graphContainer {
    align-self: center;
}

.legend {
    border: 1px solid #5c5c5c;
    width: 100%;
    aspect-ratio: 1/1.1;
}

.expandPanel {
    display: block;
    background-color: #b3b3b3;
    float: left;
    height: 100%;
    width: 5.5%;
    border-right: 1px solid #5c5c5c;
}

.legendContent {
    height: 100%;
    overflow: scroll;
}

.legendItem {
    padding: 6% 5% 0px 5%;
    height: max-content;
    display: grid;
    grid-template-columns: [colour] max-content [name] max-content [spacer] auto [end];
    column-gap: 5%;
}

.legendCategoryColour {
    border: 1px solid #4c4c4c;
    float: left;
    height: 15pt;
    aspect-ratio: 3/2;
}

.legendCategoryName {
    margin: 0px;
    grid-column-start: name;
    font-size: 14pt;
}

#incomeLegendColour1 {
    background-color: skyblue;
}

#expenseLegendColour1 {
    background-color: orchid;
}

#expenseLegendColour2 {
    background-color: #29a729;
}

#expenseLegendColour3 {
    background-color: indianred;
}

#expenseLegendColour4 {
    background-color: royalblue;
}

#expenseLegendColour5 {
    background-color: turquoise;
}

#expenseLegendColour6 {
    background-color: goldenrod;
}

.graph {
    border: 1px solid #5c5c5c;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
}

/* Desktop Formatting */
@media only screen and (min-width: 650px) {
    .legendCategoryColour {
        height: 18pt;
    }

    .legendCategoryName {
        font-size: 16pt;
    }
}