.parsley-error {
    border-color: #b94a48 !important;
}

.parsley-error:focus-visible {
    outline: #b94a48 auto 1px !important;
}

.parsley-errors-list {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    color: #b94a48;
    font-family: Arial, Helvetica, sans-serif;
}

.parsley-errors-list li {
    margin-top: 16px;
}