.transactionPage {
    display: grid;
    grid-template-columns: 52% 58%;
    grid-row-gap:4px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.bigBox{
    width: 100%;
    height: 12%;
    border: 1px solid #000;
    
}

.rect {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background:red;
}
.rect2 {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background:silver;
}
.rect3 {
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background: grey;
}

.amount {
    color: red;
}

.salary {
    color: green;
}

/* Desktop Formatting */
@media only screen and (min-width: 768px) {
    html, body, #wrapper, #container, #content {
        height: auto;
    }

    #wrapper {
        padding: 0px;
        background: black;
        aspect-ratio: 9/16;
        margin: auto;
        margin-top: 2vh;
        max-height: 96vh;
        min-height: 600px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        resize: horizontal;
        border-radius: 35px;
    }

    #container {
        margin: 15px;
        border-radius: 25px;
        padding: 0px;
        background-color: #F3F3F3;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #content {
        height: 84%;
    }

    #topBorder h1 {
        font-size: 22pt;
    }

    label, input[type=text], select, option, input[type=button] {
        font-size: 18pt;
    }

    select {
        font-size: 16pt;
    }

    option {
        font-size: 14pt;
    }

    input[type=checkbox] {
        width: 30px;
        height: 30px;
    }

    input[type=text] {
        height: 35px;
    }

    input[type=date] {
        height: 37px;
    }

    input[type=color], select {
        height: 39px;
    }

    .phoneBorder {
        display: block;
        background-color: #121212;
        width: 100%;
    }

    #phoneBorderTop {
        height: 7%;
        border-radius: 20px 20px 0px 0px;
    }

    #phoneBorderBottom {
        height: 9%;
        border-radius: 0px 0px 20px 20px;
    }
}